{% extends 'management/base.html'%}
{% block title %}Actively|profile{% endblock %}
{% block content %}
{% load static %}

<style>
    .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(30, 93, 175);
  background-clip: border-box;
  border: 1px solid #ececec;
  border-radius: .25rem;
}

.card .card-header {
  padding: 1rem;
  margin-bottom: 0;
  background-color: #16395c;
  border-bottom: 1px solid #ececec;
}
.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.icontext .icon {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
}

.icontext .icon.border {
  max-height: 28px;
}

.icontext small, .icontext .title {
  display: block;
}

.icontext span {
  font-size: 22px;
  font-weight: 600;
  display: block;
}

.icontext span.text-sm {
  font-size: 12px;
  font-weight: 400;
  color: #6c757d;
}

.tag {
  display: inline-block;
  padding: 3px 7px;
  background: #f2f2f2;
  border: 1px xolid #eee;
  border-radius: 3px;
  margin-top: 4px;
  margin-right: 2px;
  font-size: 85%;
}
@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../../fonts/material-icon/MaterialIcons-Round.ttf");
  /* For IE6-8 */
  src: url("../../fonts/material-icon/MaterialIcons-Round.woff2") format("woff2"), url("../../fonts/material-icon/MaterialIcons-Round.woff") format("woff"), url("../../fonts/material-icon/MaterialIcons-Round.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  vertical-align: middle;
  display: inline-block;
  line-height: 0.9;
  text-transform: none;
  letter-spacing: normal;
  -ms-word-wrap: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.material-icons:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .3;
}

.material-icons:after {
  opacity: 1;
  line-height: normal;
}

/* Rules for sizing the icon. */
.md-18 {
  font-size: 18px;
}

.md-24 {
  font-size: 24px;
}

.md-28 {
  font-size: 28px;
}

.md-36 {
  font-size: 36px;
}

.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

</style>
<div class="dashboard dark-theme">
    <aside class="drawer">
        <div class="drawer-header header-common py-3 px-3 text-center">
            <a href="#">
                {% for name in site %}
                <img src="{{name.site_logo.url}}" alt="Actively Black" />
                {% endfor %}            </a>
        </div>
        <div class="drawer-main">
            <div class="drawer-content py-3">
                <div class="d-block  px-3">
                    <small>PAGES</small>
                </div>
                <div class="navbar navbar-dark px-0">
                    <ul class="navbar-nav w-100">
                        {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-lock mr-2"
                                    aria-hidden="true"></i>
                                Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                            <a href="{% url 'login' %}" class="nav-link"><i class="fa fa-lock mr-2"
                                    aria-hidden="true"></i>
                                Login</a>

                        </li>
                        {% endif %}

                        <li class="nav-item">
                            <a href="{% url 'dashboard' %}" class="nav-link"><i class="fa fa-dashboard mr-2"
                                    aria-hidden="true"></i>
                                Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile' %}" class="nav-link"><i class="fa fa-user mr-2"
                                    aria-hidden="true"></i> User
                                Profile</a>
                        </li>
                        {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <hr style="height:2px;border-width:0;color:rgb(250, 248, 248);background-color:rgb(255, 250, 250)">

                            <a href="{% url 'listing' %}" class="nav-link"><i class="fa fa-list mr-2"
                                    aria-hidden="true"></i>
                                Listing</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'add-user' %}" class="nav-link"><i class="fa fa-edit mr-2"
                                    aria-hidden="true"></i>Add/Edit
                                Form</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin-add-user' %}" class="nav-link"><i class="fa fa-user-plus mr-2"
                                    aria-hidden="true"></i>Add-User
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin:index' %}  " class="nav-link"><i class="fa fa-lock mr-2" aria-hidden="true"></i>Admin
                                </a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="drawer-footer mt-auto px-3">
                <p class="mb-0"><a href="#" class="">Actively Black</a></p>
                {% for name in site %}
                <p class="mb-0" class="">{{name.site_contect_no1}}</p>
                <p class="mb-0" class="">{{name.site_contect_no2}}</p>

                {% endfor %}            </div>
        </div>
    </aside>

    <div class="main-content">
        <header class="main-header header-common py-3 px-3" style="background-color:#233044;">
            <nav class="navbar navbar-expand-lg py-0">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <button class="mr-3 toggle-button bg-transparent border-0 outline-0 text-white border-0" type="button"> <i class="fa fa-bars" aria-hidden="true"></i></button>
                    <p style="color: white;" class="m-0">Welcome : {{request.user.first_name}}</p>
                    <!-- <form class="search-bar form-inline my-lg-0"> -->
                        <!-- <button class="btn btn-outline-light rounded-0 border-0" type="submit">
                            <i class="fa fa-search"></i>
                        </button> -->
                        <!-- <input class="form-control rounded-0 bg-transparent border-0 " type="search"
                            placeholder="Search" aria-label="Search"> -->
                    <!-- </form> -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <img class="card-img-top nav-profile" src="{{request.user.profile.avatar.url}}"
                            alt="Card image cap">
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% if messages %}
        {% for message in messages %}
        <div class='alert alert-success'>
            {{message}}
    
        </div>
        {% endfor %}
        {% endif %}
        <section class="centered-content">
            <div class="title mb-4">
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: {{order_supplier.id}}</p>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0 bg-transparent">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </nav>

            <!-- <div class="row"> -->
                <!-- <div class="col-lg-5 col-xl-4"> -->
                    <div class="content-header">
                        <div>
                            <!-- <h2 class="content-title card-title">Order detail</h2>
                            <p>Details for Order ID: {{order_supplier.id}}</p> -->
                        </div>
                    </div>
                    <div class="card">
                        <header class="card-header">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                    <span> <i class=" fa fa-calendar fa-2x"></i> <b>{{order_supplier.date_update}}</b> </span> <br />
                                    <small class="text-muted">Order ID: {{order_supplier.id}}</small>
                                </div>
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end" style="text-align: end;">
                                    <div class="form-select d-inline-block mb-lg-0 mr-5 mw-200 text-center">
                                        <span >{{order_supplier.status}}</span>
                                        
                                    </div>
                                    
                                    <a class="btn btn-secondary print ms-2" href="javascript:window.print()"><i class="icon fa fa-print fa-2x"></i></a>
                                </div>
                            </div>
                        </header>
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="row mb-50 mt-20 order-info-wrap">
                                <div class="col-md-4">
                                    <article class="icontext align-items-start">
                                        <span class="icon icon-sm rounded-circle bg-primary-light">
                                            <i class="text-primary fa fa-user-circle fa-2x"></i>
                                        </span>
                                        <div class="text">
                                            <h6 class="mb-1">Customer</h6>
                                            <p class="mb-1">
                                                {{order_supplier.user}}<br />
                                                {{order_supplier.user.email}}<br />
                                                {{payment_info.phone}}
                                              
                                            </p>
                                            
                                        </div>
                                    </article>
                                </div>
                                <!-- col// -->
                                <div class="col-md-4">
                                    <article class="icontext align-items-start">
                                        <span class="icon icon-sm rounded-circle bg-primary-dark">
                                            <i class="text-primary fa fa-truck fa-2x"></i>
                                        </span>
                                        <div class="text">
                                            <h6 class="mb-1">Order info</h6>
                                            <p class="mb-1">
                                                Shipping By: aramex express <br />
                                                Amount: ${{order_supplier.amount}} <br />
                                                Status: {{order_supplier.status}}
                                            </p>
                                            
                                        </div>
                                    </article>
                                </div>
                                <!-- col// -->
                                <div class="col-md-4">
                                    <article class="icontext align-items-start">
                                        <span class="icon icon-sm rounded-circle bg-primary-light">
                                            <i class="text-primary fa fa-map-marker fa-2x"></i>
                                        </span>
                                        <div class="text">
                                            <h6 class="mb-1">Deliver to</h6>
                                            <p class="mb-1">
                                                City: {{payment_info.City}}, {{payment_info.state}} <br />
                                                street: {{payment_info.street_address}}<br />
                                                {{payment_info.country}}, {{payment_info.post_code}} 
                                            </p>
                                           
                                        </div>
                                    </article>
                                </div>
                                <!-- col// -->
                            </div>
                            <!-- row // -->
                            <div class="row m-5">
                                <div class="col-lg-7">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead style="background-color: rgb(17, 17, 51);">
                                                <tr>
                                                    <th width="40%">Product</th>
                                                    <th width="20%">Unit Price</th>
                                                    <th width="20%">Quantity</th>
                                                    <th width="20%" class="text-end">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                
                                                {% for order_detail in  order_details_supplier%}
                                                <tr>
                                                    <td>
                                                        <a class="itemside" href="#">
                                                            <div class="left">
                                                                <img src="{{order_detail.product.product_image.url}}" width="60" height="60" class="" alt="Item" />
                                                            </div>
                                                            <div class="info">{{order_detail.product.product_name}}</div>
                                                        </a>
                                                    </td>
                                                    <td>${{order_detail.product.PRDPrice}}</td>
                                                    <td>{{order_detail.quantity}}</td>
                                                    <td class="text-end">${% widthratio order_detail.product.PRDPrice 1 order_detail.quantity %} </td>
                                                </tr>
                                                {%endfor%}
                
                                                <tr>
                                                    <td colspan="4">
                                                        <article class="float-end" style="text-align: end;">
                                                            {% comment %} <dl class="dlist">
                                                                <dt>Subtotal:</dt>
                                                                <dd>$973.35</dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt>Shipping cost:</dt>
                                                                <dd>$10.00</dd>
                                                            </dl> {% endcomment %}
                                                            <dl class="dlist">
                                                                <dt>Total:</dt>
                                                                <dd><b class="h5">${{order_supplier.amount}} </b></dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt class="text-muted">Status:</dt>
                                                                <dd>
                                                                    <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                                </dd>
                                                            </dl>
                                                        </article>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- table-responsive// -->
                                </div>
                                <!-- col// -->
                                <!-- <div class="col-lg-1"></div> -->
                                <div class="col-lg-4" >
                                    <div class="box shadow-sm" style="border:ridge;">
                                        <h6 class="mb-15">Payment info</h6>
                                        <p>
                                            <img  src="{% static 'management/images/icon/2.png'%}" class="border" height="20" />  {{payment_info.payment_method}} <br />
                                            Business name: {{payment_info.first_name}} {{payment_info.last_name}} <br />
                                            Phone: {{payment_info.phone}}
                                        </p>
                                    </div>
                                    {% comment %} <div class="h-25 pt-4">
                                        <div class="mb-3">
                                            <label>Notes</label>
                                            <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                        </div>
                                        <button class="btn btn-primary">Save note</button>
                                    </div> {% endcomment %}
                                </div>
                                <!-- col// -->
                            </div>
                        </div>
                        <!-- card-body end// -->
                    </div>
                    <!-- card end// -->
                    
                    
                    
                <!-- </div>
                
            </div> -->
        </section>
        <footer class="footer py-3 px-3">
            {% for name in site %}
            <p class="mb-0"><a href="{{name.site_url}}">activelyblack.com</a></p>
            {% endfor %}        
        </footer>
        <button class="color-picker-btn btn btn-primary">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
        </button>
        <div class="overlay"></div>
        <aside class="color-picker">
            <h6 class="mb-4">Select a Demo</h6>
            <div class="select-demo p-3 mb-4">
                <p class="mb-0">Hello! Select your style below. Choose the ones that best fits your needs.</p>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <button class="box rounded dark-picker w-100">
                        <span class="color-box bg-dark"></span>
                    </button>
                    <span class="d-block mt-1">Dark</span>
                </div>
                <div class="col-6 text-center">
                    <button class="box rounded light-picker w-100">
                        <span class="color-box bg-light"></span>
                    </button>
                    <span class="d-block mt-1">Light</span>
                </div>
            </div>
        </aside>
    </div>
</div>

{% endblock %}