

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'management/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'management/css/custom.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'management/images/webnyxa.icon.png' %}"/>
   <style>
    .field-error{
        color: red !important;
    }
    </style>
</head> 
<body>
    
    {% block content %}
    {% endblock %}

    <script src="{% static 'management/js/jquery.min.js' %}"></script>
    <script src="{% static 'management/js/popper.min.js' %}"></script>
    <script src="{% static 'management/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'management/js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'management/js/custom.js' %}"></script>

    <script>
        $(document).ready(function() {
          $('#submitSignUp').click(function () {
            $(this).css('display', 'none')
            $('#buttonload').css('display', 'inline-block')
          })
        })
        
    </script>

</body>
</html>

