{% extends 'management/base.html' %}
{% load static %}
{% block title %}Actively|forget-password{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<style>
    .buttonload{
 background-color: #04AA6D; /* Green background */
 border: none; /* Remove borders */
 color: white; /* White text */
 padding: 0px 182px; /* Some padding */
 font-size: 16px /* Set a font size */
}
  

#buttonload{
   display: none;
}
   .errorlist{
       
       list-style-type: none;
   } 
   .errorlist li{
       color:red !important;
       /* padding-left: 100px !important; */
   }
   .login.card .errorlist li{
      padding-left: 6.5px;
   }
   #div_id_password2 .control-label.requiredField{
       display: none;
   }
   #div_id_password1 .control-label.requiredField{
       display: none;
   }
   #div_id_email .control-label.requiredField{
       display: none;
   }
   #div_id_username .control-label.requiredField{
       display: none;
   }

</style>

<div class="dashboard dark-theme">
    <div class="main-content mw-100">
        <section class="centered-content h-100">
            <div class="row m-0 align-items-center h-100">
                <div class="col-12 col-lg-5 mx-auto">
                    {% if messages %}
                    {% for message in messages %}
                    <div class='alert alert-info'>
                        {{message}}
                
                    </div>
                    {% endfor %}
                    {% endif %}
                    <!-- <h4 class="text-center mb-4">Actively Black</h4> -->
                    <div class="drawer-header header-common py-3 px-3 text-center">
                        <a href="#">
                            {% for name in site %}
                            <img src="{{name.site_logo.url}}" alt="Actively Black" />
                            {% endfor %}
                        </a>
                    </div>
                    <div class="login border-0 card py-5 px-4">
                        <div class="text-center mb-3">
                            <h5>Reset Password</h5>
                            <p>Enter your email to reset your password</p>
                        </div>
                        <form class="login-form" method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                               <!-- <input placeholder="Email Address" class="form-control bg-transparent" name="email" /> -->
                               {{form.email|as_crispy_field}}
                            </div>
                            <button class="btn btn-primary w-100 border-0" id="submitSignUp" type="submit">Reset Password</button>
                            <button class="buttonload" id="buttonload" disabled>
                                <i class="fa fa-spinner fa-spin"></i>Loading
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="content-footer bg-light py-3"></div>
    </div>
</div>

{% endblock %}






