{% extends 'management/base.html' %}
{% block title %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<style>
     .buttonload{
  background-color: #04AA6D; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px /* Set a font size */
}
   

#buttonload{
    display: none;
}
    .errorlist{
        
        list-style-type: none;
    } 
    .errorlist li{
        color:red !important;
        /* padding-left: 100px !important; */
    }
    .login.card .errorlist li{
       padding-left: 6.5px;
    }
    #div_id_password2 .control-label.requiredField{
        display: none;
    }
    #div_id_password1 .control-label.requiredField{
        display: none;
    }
    #div_id_email .control-label.requiredField{
        display: none;
    }
    #div_id_username .control-label.requiredField{
        display: none;
    }
   

     
</style>
    <div class="dashboard dark-theme">
        <div class="main-content mw-100">
            <section class="centered-content h-100">
                <div class="row m-0 h-100 justify-content-center">
                    <div class="col-lg-6 login card border-0 py-5 px-4">
                        {% if messages %}
                        {% for message in messages %}
                        <div class='alert alert-success'>
                            {{message}}
                    
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="drawer-header header-common py-3 px-3 text-center">
                            <a href="#">
                                {% for name in site %}
                                <img src="{{name.site_logo.url}}" alt="Actively Black" />
                                {% endfor %}
                            </a>
                        </div>
                        
                        <!-- <h2 class="text-center mb-4">Sign up</h2> -->
                        
    
                    <form class="mx-1 mx-md-4" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                        <div class="d-flex flex-row">
                        <i class="fa fa-user fa-lg mr-3 fa-fw mt-2"></i>
                        <div class="form-outline flex-fill form-group mb-0">
                            <!-- <input type="text" name="username" class="form-control" placeholder="Your Name" /> -->
                            {{form.username|as_crispy_field}}
                        </div> 
                        
                        
                        
                    </div>  
                    <!-- {{form.username.errors}} -->
                    </div>
                                                                
                           <div class="mb-3">
                        <div class="d-flex flex-row">
                        <i class="fa fa-envelope fa-lg mr-3 fa-fw mt-2"></i>
                        <div class="form-outline flex-fill form-group mb-0">
                            <!-- <input type="email" name="email" class="form-control" placeholder="Your Email" /> -->
                           {{form.email|as_crispy_field}}
                           
                            
                        </div>
                        </div>
                        <!-- {{form.email.errors}} -->
                    </div> 
                        <div class="mb-3">
                        <div class="d-flex flex-row">
                        <i class="fa fa-lock fa-lg mr-3 fa-fw mt-2"></i>
                        <div class="form-outline flex-fill form-group mb-0">
                            <!-- <input type="password" name="password" class="form-control" placeholder="Your Password"  /> -->
                            
                            {{form.password1|as_crispy_field}}
                            
                        </div>
                        </div>
                        <!-- {{form.password1.errors}} -->
                    </div>
                    <div class="mb-3">
                        <div class="d-flex flex-row">
                        <i class="fa fa-key fa-lg mr-3 fa-fw mt-2"></i>
                        <div class="form-outline flex-fill form-group mb-0">
                            <!-- <input type="password" name="password2" class="form-control" placeholder="Confirm Password"  /> -->
                            {{form.password2|as_crispy_field}}

                        </div>

                        </div>
                        <!-- {{form.password2.errors}} -->
                    </div>
                        <div class="form-check d-flex mb-5">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                        <label class="form-check-label" for="password">
                            I agree all statements in <a href="#!">Terms of service</a>
                        </label>
                        </div>
    
                        <div class="text-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" id="submitSignUp" class="btn btn-primary btn-lg">Register</button>
                        <button class="buttonload" id="buttonload" disabled>
                            <i class="fa fa-spinner fa-spin"></i>Loading
                        </button>
                        <p class="mt-4">Already have an account? <a href="{% url 'login' %}">Please Login</a></p>
                        </div>
    
                    </form>
                    </div>  
                </div>
            </section>
        </div>
    </div>

    

{% endblock %}    