{% extends 'management/base.html' %}
{% load static %}
{% block title %}Actively|dashboard{% endblock %}
{% block content %}



    <div class="dashboard dark-theme">
        <aside class="drawer">
            <div class="drawer-header header-common py-3 px-3 text-center">
                <a href="#">
                    <img src="{% static 'management/images/logo.png' %}" alt="Actively Black" />
                </a>
            </div>
            <div class="drawer-main">
                <div class="drawer-content py-3">
                    <div class="d-block  px-3">
                        <small>PAGES</small>
                    </div>
                    <div class="navbar navbar-dark px-0">
                        <ul class="navbar-nav w-100">
                            {% if user.is_authenticated %}
                            <li class="nav-item active">
                                <a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-lock mr-2" aria-hidden="true"></i>
                                    Logout</a>
                            </li>
                                 {% else %}
                            <li class="nav-item active">
                                <a href="{% url 'login' %}" class="nav-link"><i class="fa fa-lock mr-2" aria-hidden="true"></i>
                                    Login</a>

                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{% url 'dashboard' %}" class="nav-link"><i class="fa fa-dashboard mr-2" aria-hidden="true"></i>
                                    Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'profile' %}" class="nav-link"><i class="fa fa-user mr-2" aria-hidden="true"></i> User
                                    Profile</a>
                                </li>
                                {% if request.user.is_superuser %}
                                <li class="nav-item">
                                <hr style="height:2px;border-width:0;color:rgb(250, 248, 248);background-color:rgb(255, 250, 250)">
                                <a href="{% url 'listing' %}" class="nav-link"><i class="fa fa-list mr-2" aria-hidden="true"></i>
                                    Listing</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'add-user' %}" class="nav-link"><i class="fa fa-edit mr-2" aria-hidden="true"></i>Add/Edit
                                    Form</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'admin-add-user' %}" class="nav-link"><i class="fa fa-user-plus mr-2" aria-hidden="true"></i>Add-User
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'admin:index' %}  " class="nav-link"><i class="fa fa-lock mr-2" aria-hidden="true"></i>Admin
                                    </a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="drawer-footer mt-auto px-3">
                    <p class="mb-0"><a href="#" class="">Actively Black</a></p>
                    <p class="mb-0" class="">619-892-6561</p>
                </div>
            </div>
        </aside>

        <div class="main-content">
            <header class="main-header header-common py-3 px-3" style="background-color:#233044;">
                <nav class="navbar navbar-expand-lg py-0">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <p style="color: white;">Welcome : {{request.user}}</p>
                        <!-- <form class="search-bar form-inline my-lg-0"> -->
                            <!-- <button class="btn btn-outline-light rounded-0 border-0" type="submit">
                                <i class="fa fa-search"></i>
                            </button> -->
                            <!-- <input class="form-control rounded-0 bg-transparent border-0 " type="search"
                                placeholder="Search" aria-label="Search"> -->
                        <!-- </form> -->
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <img class="card-img-top nav-profile" src="{{request.user.profile.avatar.url}}"
                                alt="Card image cap">
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <section class="centered-content">
                <div class="title mb-3">
                    <h1>Default Dashboard</h1>
                    <p>Welcome back, Lucy! We've missed you.</p>
                </div>
               <hr />
               {% if messages %}
               {% for message in messages %}
               <div class='alert alert-info'>
                   {{message}}
           
               </div>
               {% endfor %}
               {% endif %}
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <div class="card border-0">
                            <div class="p-3">
                                <div class="d-flex justify-content-between mb-3">
                                    <h6 class="mb-0">Sales Today</h6>
                                    <span class="badge badge-primary">Today</span>
                                </div>
                                <h3>2.532</h3>
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-success mr-3">+26%</span>
                                    <p class="mb-0">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="card border-0">
                            <div class="p-3">
                                <div class="d-flex justify-content-between mb-3">
                                    <h6 class="mb-0">Visitors</h6>
                                    <span class="badge badge-primary">Annual</span>
                                </div>
                                <h3>170.212</h3>
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-danger mr-3">-14%</span>
                                    <p class="mb-0">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="card border-0">
                            <div class="p-3">
                                <div class="d-flex justify-content-between mb-3">
                                    <h6 class="mb-0">Total Earnings</h6>
                                    <span class="badge badge-primary">Monthly</span>
                                </div>
                                <h3>&dollar; 24.300</h3>
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-success mr-3">+18%</span>
                                    <p class="mb-0">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="card border-0">
                            <div class="p-3">
                                <div class="d-flex justify-content-between mb-3">
                                    <h6 class="mb-0">Pending Orders</h6>
                                </div>
                                <h3>45</h3>
                                <div class="d-flex align-items-center">
                                    <span class="badge badge-danger mr-3">-14%</span>
                                    <p class="mb-0">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mb-3">
                        <div class="card">
                            <div class="p-3">
                                <h5>Sales / Revenue</h5>
                                <div>
                                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:200%;height:100%;left:0; top:0"></div>
                                        </div>
                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="card">
                            <div class="py-3 px-3">
                                <h5>Weekly sales</h5>
                                <div class="pi-chart">
                                    <canvas id="myChart" width="200" height="200"></canvas>
                                    <div class="centered-content-pi">
                                        <h5 class="mb-0">+27%</h5>
                                        <p class="mb-0"><small>more sales</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-0">
                                <div class="enhanced-table">
                                    <div class="table-repsponsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Source</th>
                                                    <th>Revenue</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Social</td>
                                                    <td>260</td>
                                                    <td class="text-success">+35%</td>
                                                </tr>
                                                <tr>
                                                    <td>Social</td>
                                                    <td>260</td>
                                                    <td class="text-danger">-12%</td>
                                                </tr>
                                                <tr>
                                                    <td>Social</td>
                                                    <td>260</td>
                                                    <td class="text-success">+46%</td>
                                                </tr>
                                                <tr>
                                                    <td>Social</td>
                                                    <td>260</td>
                                                    <td class="text-success">+24%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="p-3">
                                <h5>Latest projects</h5>
                            </div>
                            <div class="enhanced-table">
                                <div class="table-repsponsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>State</th>
                                                <th>Assignee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Project Aurora</td>
                                                <td>01/01/2021</td>
                                                <td>31/06/2021</td>
                                                <td>
                                                    <span class="badge badge-success mr-3">Done</span>
                                                </td>
                                                <td>James Dalton</td>
                                            </tr>
                                            <tr>
                                                <td>Project Aurora</td>
                                                <td>01/01/2021</td>
                                                <td>31/06/2021</td>
                                                <td>
                                                    <span class="badge badge-warning mr-3">In Progress</span>
                                                </td>
                                                <td>James Dalton</td>
                                            </tr>
                                            <tr>
                                                <td>Project Aurora</td>
                                                <td>01/01/2021</td>
                                                <td>31/06/2021</td>
                                                <td>
                                                    <span class="badge badge-success mr-3">In Progress</span>
                                                </td>
                                                <td>James Dalton</td>
                                            </tr>
                                            <tr>
                                                <td>Project Aurora</td>
                                                <td>01/01/2021</td>
                                                <td>31/06/2021</td>
                                                <td>
                                                    <span class="badge badge-danger mr-3">Cancelled</span>
                                                </td>
                                                <td>James Dalton</td>
                                            </tr>
                                            <tr>
                                                <td>Project Aurora</td>
                                                <td>01/01/2021</td>
                                                <td>31/06/2021</td>
                                                <td>
                                                    <span class="badge badge-success mr-3">Done</span>
                                                </td>
                                                <td>James Dalton</td>
                                            </tr>
                                            <tr>
                                                <td>Project Aurora</td>
                                                <td>01/01/2021</td>
                                                <td>31/06/2021</td>
                                                <td>
                                                    <span class="badge badge-warning mr-3">In Progress</span>
                                                </td>
                                                <td>James Dalton</td>
                                            </tr>
                                            <tr>
                                                <td>Project Aurora</td>
                                                <td>01/01/2021</td>
                                                <td>31/06/2021</td>
                                                <td>
                                                    <span class="badge badge-success mr-3">In Progress</span>
                                                </td>
                                                <td>James Dalton</td>
                                            </tr>
                                            <tr>
                                                <td>Project Aurora</td>
                                                <td>01/01/2021</td>
                                                <td>31/06/2021</td>
                                                <td>
                                                    <span class="badge badge-danger mr-3">Cancelled</span>
                                                </td>
                                                <td>James Dalton</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer py-3 px-3">
                <p class="mb-0"><a href="#">activelyblack.com</a></p>
            </footer>
            <button class="color-picker-btn btn btn-primary">
                <i class="fa fa-paint-brush" aria-hidden="true"></i>
            </button>
            <div class="overlay"></div>
            <aside class="color-picker">
                <h6 class="mb-4">Select a Demo</h6>
                <div class="select-demo p-3 mb-4">
                    <p class="mb-0">Hello! Select your style below. Choose the ones that best fits your needs.</p>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button class="box rounded dark-picker w-100">
                            <span class="color-box bg-dark"></span>
                        </button>
                        <span class="d-block mt-1">Dark</span>
                    </div>
                    <div class="col-6 text-center">
                        <button class="box rounded light-picker w-100">
                            <span class="color-box bg-light"></span>
                        </button>
                        <span class="d-block mt-1">Light</span>
                    </div>
                    <!-- <div class="col-6 text-center">
                        <button class="box rounded default-picker w-100">
                            <span class="color-box"></span>
                        </button>
                        <span class="d-block mt-1">Default</span>
                    </div>
                    <div class="col-6 text-center">
                        <button class="box rounded primary-picker w-100">
                            <span class="color-box"></span>
                        </button>
                        <span class="d-block mt-1">Blue</span>
                    </div>
                    <div class="col-6 text-center">
                        <button class="box rounded warning-picker w-100">
                            <span class="color-box"></span>
                        </button>
                        <span class="d-block mt-1">Blue</span>
                    </div>
                    <div class="col-6 text-center">
                        <button class="box rounded success-picker w-100">
                            <span class="color-box"></span>
                        </button>
                        <span class="d-block mt-1">Green</span>
                    </div>
                    <div class="col-6 text-center">
                        <button class="box rounded indigo-picker w-100">
                            <span class="color-box"></span>
                        </button>
                        <span class="d-block mt-1">Indigo</span>
                    </div> -->
                </div>
            </aside>
        </div>
    </div>
{% endblock %}